datasets/
datasets/**
fMRI-reconstruction-NSD/
fMRI-reconstruction-NSD/**

.ipynb_checkpoints/
**/.ipynb_checkpoints/


DreamDiffusion/
DreamDiffusion/**

EEG_Image_decode/
EEG_Image_decode/**

LaBraM/
LaBraM/**

pretrain_models/
pretrain_models/**

__pycache__/
**/__pycache__/


src/exp/**/