datasets/
datasets/**
fMRI-reconstruction-NSD/
fMRI-reconstruction-NSD/**


.vscode/
.vscode/**

.ipynb_checkpoints/
**/.ipynb_checkpoints/


DreamDiffusion/
DreamDiffusion/**

EEG_Image_decode/
EEG_Image_decode/**

LaBraM/
LaBraM/**

pretrain_models/
pretrain_models/**

__pycache__/
**/__pycache__/


src/exp/**/

src/archieve/**

src/results/**

src/tasks/img_generation/lightning_logs/**

EEG_Image_decode/**


**/exp/

**.pth

**.ckpt

src/tasks/plot/U/**

**/lightning_logs/**